<button class="clickable" (click)="goBack()">< Back</button>
<div class="container">
    <div class="card-body" *ngIf="!(loading$ | async)">
        <ng-container *ngIf="selectedPerson$ | async as selectedPerson">
            <h1 style="margin: 0;">{{selectedPerson.name}}</h1>
            <div>{{selectedPerson.description}}</div>
            <div>
                <h3>Basic Details</h3>
                <div class="details-row">
                    <span>Gender</span>
                    <span>{{selectedPerson.gender}}</span>
                </div>
                <div class="details-row">
                    <span>Birth Year</span>
                    <span>{{selectedPerson.birth_year}}</span>
                </div>
                <div class="details-row">
                    <span>Homeworld</span>
                    <a class="link" routerLink="/planets/{{selectedPerson.homeworldId}}">{{selectedPerson.homeworldName}}</a>
                </div>
            </div>
            <div>
                <h3>Physical Details</h3>
                <div class="details-row">
                    <span>Height</span>
                    <span>{{selectedPerson.height}}</span>
                </div>
                <div class="details-row">
                    <span>Mass</span>
                    <span>{{selectedPerson.mass}}</span>
                </div>
                <div class="details-row">
                    <span>Hair Color</span>
                    <span>{{selectedPerson.hair_color}}</span>
                </div>
                <div class="details-row">
                    <span>Skin Color</span>
                    <span>{{selectedPerson.skin_color}}</span>
                </div>
                <div class="details-row">
                    <span>Eye Color</span>
                    <span>{{selectedPerson.eye_color}}</span>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="load-container" *ngIf="loading$ | async">
        <app-loading-indicator></app-loading-indicator>
    </div>
</div>